services:
  backend:
    build:
      context: ./backend
    env_file:
      - .env
    ports:
      - "${BACKEND_PORT}:8080"
    depends_on:
      - minio
      - redis
  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":${MINIO_CONSOLE_PORT}"
    ports:
      - "${MINIO_API_PORT}:9000" # S3 API endpoint
      - "${MINIO_CONSOLE_PORT}:9001" # Web console
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - ./data/minio:/data

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./data/redis:/data
